
html {
  background: url(tic.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ticTable td {
height: 100px;
width: 100px;
padding: 15px;
font-size: 3em;
text-align: center;
cursor: pointer;
color:#A73C3C;
}
.ticTable,.ticTable1{
border: 2px solid white;
background-color:white;
margin-left: 200px;
}

.ticTable td:hover {
text-shadow: 2px 1px 1px white;
}
.ticTable1 td {
height: 100px;
width: 100px;
padding: 15px;
text-align: center;
cursor: pointer;
font-size: 3em;

}

.ticTable1 td:hover {
background-color:gray;
text-shadow: 2px 1px 1px white;

}

.ticTable .borderBottom {
border-bottom: 1px solid black;
border-top: 1px solid black;
border-left: 1px black;
border-right: 1px black;
background: #883030;
color:#A73C3C;

}

.ticTable1 .borderBottom {
border-bottom: 1px solid black;
border-top: 1px solid black;
border-left: 1px black;
border-right: 1px black;
background:#883030;

}
.borderBottom {
border-bottom: 1px solid black;
}
.borderRight {
border-right: 1px solid black;
border-left: 1px solid black;
border-top: 1px solid black;
border-right: 1px solid black;
border-radius: 10px/8px;
}

.container {
margin: 20px;
width: auto;
min-height: inherit;
background-size: auto;
}
.container h2{
color:#EEEBDD;
}

.box {
margin: 20px;
display: inline-block;
float: left;
}

.controls {
min-width: 400px;
min-height: 300px;
text-align: center;
display: inline-block;
margin: 20px 60px;
background-color:blue;
color: white;
}

.controls span {
display: inline-block;
text-align: center;
width: 150px;
padding: 20px;
margin: 0 10px;
}

.controls p {
color: white;
}

.controls button {
margin: 25px 15px;
color: white;
width: 100px;
padding: 10px;
background-color: rgba(39, 39, 39, 0.74);
font-size: 0.8em;
border-radius: 0.3em;
}

.controls button:hover{
background-color: #1B4F72;
}
.markLabel {
font-size: 2em;
}

.statusDiv {
width: 50%;
margin: auto;
color: white;
background-color: orange;
}

table {
display: inline-table;
}

.times {
text-align: left;
margin-left: 30px;
font-style: italic;
color: white;
}

.times span {
width: 70px;
font-style: normal;
font-weight: bold;
}